<table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">name</th>
        <th scope="col">price</th>
         <th scope="col">category</th>
        <th scope="col">img</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody *ngFor="let product of resultProducts">
      <tr>
        <th scope="row">1</th>
        <td>Mark</td>
        <td>Mark</td>
        <td>Otto</td>
        <td>@mdo</td>
        <td><button class="btn btn-danger" >delete</button></td>
      </tr>

    </tbody>
  </table>